{% extends 'base.html.twig' %}

{% set active = 'admin' %}

{% block body %}

<h1 class="mt-4 mb-4">Categories</h1>

<ul id="categories-admin-list">
{% for category in categories %}
    <li class="categories-admin-list-item">
        {{ category.name }}   
        {{ form_start(delete_forms[loop.index0]) }}
        {{ form_widget(delete_forms[loop.index0].submit, {'attr': {'class': 'delete-category-buttons'}}) }}
        {{ form_end(delete_forms[loop.index0]) }}
    </li>
{% endfor %}
</ul>

{% endblock %}