<!--
{% extends 'base.html.twig' %}

{% set active = 'admin' %}

{% block body %}

<h1 class="mt-4">{{ category.name }}</h1>

{{ form_start(delete_form) }}
{{ form_widget(delete_form.submit, {'attr': {'class': 'buttons'}}) }}
{{ form_end(delete_form) }} 

{% endblock %}-->
