body {
    font-family: 'Roboto';
    color: #333;
    background-color: #F7FAFF;
}

.wrapper {
    width: 1040px;
    padding: 0 40px;
    margin: 0 auto;
}

/* Navigation */

#navigation {
    background-color: #30415D;
    box-shadow: 0px 0px 0px 2px rgba(125, 125, 125, 0.1);
}

#navigation ul {
    padding: 30px 0;
}

#navigation ul li {
    display: inline-block;
}

#navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

#navigation ul li a:hover {
    color: #CF6766;
}

.col-no-padding {
    padding: 0;
}

.nav-items-right {
    border-bottom: 2px solid #30415D;
}

.nav-items-right:first-child {
    margin-right: 1.4em;
}

.side-bar-nav {
    padding-left: 40px;
}

.active {
    border-bottom: 2px solid #CF6766;
}

/* Content */

.row {
    margin: 0;
}

.main-column {
    padding: 0;
}

.main-content {
    top: -20px;
    background-color: #FFF;
    padding: 30px;
    
    box-shadow: 0px 0px 0px 1px rgba(125, 125, 125, 0.1);
    border-radius: 3px;
}

/* Sidebar */

.side-bar {
    margin-top: 40px;
    padding-left: 40px;
}

.side-bar h6 {
    margin-bottom: 20px;
    color: #30415D;
}

.sidebar-list {
    padding: 0;
    list-style: none;
}

.sidebar-list-item {
    padding: 5px 0;
    font-size: .8em;
    color: #666;
}

.sidebar-list-item a {
    color: inherit;
    text-decoration: none;
    font-weight: 300;
}

.sidebar-list-item-link:hover {
    color: #CF6766;
}

.fa-angle-right {
    color: #CF6766;
    margin-right: 10px;
}

#search-form input {
    border: 1px solid rgba(125, 125, 125, 0.1);
    box-shadow: 0px 0px 0px 1px rgba(125, 125, 125, 0);
    font-size: .8em;
    font-weight: 300;
    padding: .6rem;
}

#search-form input:focus {
    border: 1px solid #30415D;
}

/* Show page */

.buttons {
    border: 1px solid #CF6766;
    width: 150px;
    padding: 5px 0;
    color: #30415D;
    cursor: pointer;
    border-radius: 3px;
}

.buttons:hover {
    background-color: #CF6766;
    color: #FFF;
}

.buttons a {
    text-decoration: none;
    color: inherit;
}

.buttons:focus {
    outline: none;
}

.btn-col {
    padding: 0;
}

.post-show-header {
    color: #30415D;
}

.post-show-body, .post-show-introduction {
    font-weight: 300;
}

.post-show-body h5 {
    color: #30415D;
    margin-bottom: 16px;
}

/* Blog List */

.post-list-headers {
    color: #30415D;
}

.post-list-headers a {
    color: inherit;
}

.post-list-headers a:hover {
    text-decoration: none;
    color: #CF6766;
}

.post-list-dates {
    color: #666;
    font-weight: 300;
}

.fa-clock {
    margin-right: 8px;
}

.post-list-introduction {
    font-weight: 300;
}

.pagination-row {
    margin-top: -20px!important;
    width: 100%;
}

.older-posts a, .newer-posts a {
    color: #30415D;
}

.older-posts a:hover, .newer-posts a:hover {
    color: #CF6766;
    text-decoration: none;
}