@media screen and (max-width: 768px) {
    .side-bar {
        padding: 0;
        margin-top: 20px;
    }
    
    .pagination-row {
        margin-bottom: .225rem!important;
    }
    
    .side-bar-nav {
        height: 0;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 15px;
    }
    
    .post-show-header {
        font-size: 1.4rem!important;
    }
}
