{% extends 'base.html.twig' %}

{% block body %}

<h1>Index Page</h1>

{% for post in posts %}
    <p>
        <a href="{{ path('blog_show', { 'slug': post.slug }) }}">
            {{ post.title }}
        </a>
    </p>
{% endfor %}

{% endblock %}