{% block content %}
<h1>results page!</h1>

{% if no_results_message|length != 0 %}
    {{ no_results_message }}
{% endif %}

{% for result in results %}
    {{ result.Title }}
{% endfor %}

{% endblock %}